<div class="product-card">
  <a class="product-card__link-overlay" href="www.google.es">
  <div class="product-card__body">
      <div class="product-card__img-container">
        <img class="product-card__img" src="http://placekitten.com/592/592" alt="">
      </div>
      <div class="product-card__info">
        <div class="product-card__title">Nombre Prod</div>
        <div class="product-card__colorsnum">Numero Colores</div>
        <div class="product-card__price">Precio</div>
      </div>
  </div>
  </a>
</div>

